* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    color: #fafafa;
}
main{
    width: 100%;
    height: 100vh;
    padding: 10px 20px;
    border: 2px solid red;
}
#container{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    height: 100%;
    width: 20%;
    border: 2px solid green;
    overflow: hidden;
}
#container #card1{
    background: url(https://i.pinimg.com/474x/94/8e/df/948edfaab70066db62e854b141107c7d.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}