* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    background: #1a1a1a;
    color: #fafafa;
}
main{
    width: 100%;
    height: 100vh;
    padding: 10px 20px;
}
#container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
#container section{
    height: 100%;
    flex-grow: 1;
    background-position: center;
    background-size: cover;
    transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding: 0px 10px;
    overflow: hidden;
}
section:nth-child(1){
    background: url(https://i.pinimg.com/474x/94/8e/df/948edfaab70066db62e854b141107c7d.jpg);
}
section:nth-child(2){
    background: url(https://i.pinimg.com/736x/80/45/12/804512349c7435352ac1fbdf84e04265.jpg);
}
section:nth-child(3){
    background: url(https://i.pinimg.com/736x/a1/ef/9c/a1ef9ccd2ea84a9ef48a14d6ba60c080.jpg);
}
section:nth-child(4){
    background: url(https://i.pinimg.com/736x/17/92/ca/1792ca94e8df7ae584ca095a90cbb034.jpg);
}
section:nth-child(5){
    background: url(https://i.pinimg.com/736x/34/87/fe/3487fe2d40a34d1846fe00ff96e23457.jpg);
}
section:nth-child(6){
    background: url(https://i.pinimg.com/736x/ac/df/7d/acdf7ddcf294b3a49cecad32abea034e.jpg);
}
section:nth-child(7){
    background: url(https://i.pinimg.com/736x/bb/62/04/bb620410bc85d286b9dee2a1b51a7bc0.jpg);
}
#container section:hover{
    flex-grow: 2;
    cursor: pointer;
    background-size: cover;
}
#container section h3{
    width: 100%;
    position: absolute;
    bottom: -50px;
    font-size: 50px;
    transition: all 0.4s ease-in;
    text-align: center;
}
#container section:hover h3{
    width: 100%;
    bottom: 20px;
    background-color: #1a1a1ad1;
    color: white;

}